@media screen and (max-width: 1400px) {
  #profile{
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }

  .nav-links li{ 
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1150px) {
  #desktop-nav{
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }

  .hamburger-menu {
    padding: 0 5rem;
  }

  .menu-links {
    margin: 0 4rem;
  }

  nav {
    height: 7vh;
  }
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container{
    left: 0;
  }

  .left-container img, .right-container img {
    left: 9px;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid rgb(30, 30, 30);
    border-left: 0;
    left: -14px;
  }

  .fullname {
    font-size: 2rem;
  }
  .section_pic-container {
    width: auto;
    height: 275px;
    margin: 0 auto 2rem;
    justify-content: center;
  }

    #profile,
  .section-container {
    display: block;
  }

  .skill-logo {
    width: 70px; 
    height: 70px;
    transition: transform 0.4s ease; 
  }
}

@media screen and (max-width: 1200px) {

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 9%;
  }

  .about-containers {
    margin-top: 0;
  }

  .skill-logo {
    width: 75px; 
    height: 75px;
    transition: transform 0.4s ease; 
  }

  .project-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .skills-container {
    max-width: 800px;
  }

}

@media  screen and (max-width: 768px) {
  .project-row {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .project-col {
    max-width: 100%;
  }

  .project-img img {
    width: 90%;
    max-width: 300px;
  }

  .project-text h4 {
    font-size: 14px;
  }

  .project-text p {
    font-size: 13px;
  }

  .tech-stack .hashtag {
    font-size: 11px;
    padding: 3px 6px;
  }

  .colored-btn {
    font-size: 12px;
    padding: 8px 16px;
  }

  .form-container {
    flex-direction: column;
    margin-right: 3rem;
    margin-left: 3rem;
  } 
  form {
    width: 80%;
    padding: 1rem;
  }

  .logo {
    padding: 0 3rem;
  }

  .hamburger-menu {
    padding: 0 4rem;
  }

  .skill-logo {
    width: 65px; 
    height: 65px;
    transition: transform 0.4s ease; 
  }

  .fullname {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .text-container p, .container h3 {
    font-size: 0.9rem;
  }

  .hamburger-menu {
    padding: 0 4rem;
  }

  .logo {
    padding: 0 3rem;
    font-size: 1.5rem;
  }

  .menu-links {
    margin: 0 5rem;
  }

  .company, .timespan {
    font-size: 0.7rem;
  }

  .container li {
    font-size: 0.8rem;
  }

  #profile {
    padding-top: 17vh;
    height: 83vh;
  }

  #about {
    padding-top: 13vh;
  }

  #experience {
    padding-top: 13vh;
  }

  #skills{
    padding-top: 13vh;
  }

  #projects {
    padding-top: 13vh;
  }

  #contact {
    padding-top: 13vh;
  }
  
  article {
    font-size: 1rem;
  }

  .section_pic-container {
    width: auto;
    height: 45vw;
    justify-content: center;
  }

  .section_text{
    margin-top: 2rem;
  }

  .section_text_p2 {
    font-size: 1.25rem;
    margin-top: 0.8rem;
  }

  .title {
    font-size: 2rem;
  }

  .fullname {
    font-size: 1.8rem;
  }

  .btn {
    width: 8rem;
  }

  .text-container {
    text-align: justify;
  }

  .skill-logo {
    width: 55px; 
    height: 55px;
    transition: transform 0.4s ease; 
  }

  .skills-container {
    max-width: 400px;
    gap: 3rem;
  }

  .footerbottom {
    padding: 10px;
  }

  .footerbottom p {
    font-size: 1rem
  }

  .project-text p {
    font-size: 12px;
  }

  .project-img img {
    max-width: 250px;
  }
}  


@media (max-width: 500px) {
  .form-container {
    margin-left: 1.7rem;
    margin-right: 2rem;
  }

  .logo {
    padding: 0 0;
    padding-left: 2rem;
  }

  .hamburger-menu {
    padding: 0 0.5rem;
    padding-right: 2.5rem;
  }

  .menu-links {
    margin: 0 2rem;
  }

  .inquiry {
    font-size: 0.85rem;
    padding: 1rem;
  }
}